@model System.Collections.Generic.List<CourseProject.WEB.Models.ModelViewModel>

@{
    ViewData["Title"] = "Models list";
}

<h1>Models</h1>
<hr>

<p>
    <a asp-action="Create" asp-area="Admin" asp-controller="Models" class="btn btn-primary btn-lg">Add a new model</a>
</p>

<form method="get" asp-action="Index">
    <div class="mb-3">
        <select name="BrandId" asp-items="ViewBag.Brands" class="form-control">
            <option value="0">All</option>
        </select>
    </div>
    <div class="mb-3">
        <input type="submit" value="Fitler" class="btn btn-primary"/>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].CarsCount)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarsCount)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="@($"dropdownMenuButton{item.Id}")" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="@($"dropdownMenuButton{item.Id}")">
                            <li><a asp-action="Edit" asp-area="Admin" asp-controller="Models" asp-route-id="@item.Id" class="dropdown-item">Edit</a></li>
                            <li><a asp-action="Details" asp-area="Admin" asp-controller="Models" asp-route-id="@item.Id" class="dropdown-item">Details</a></li>
                            @if (item.CarsCount == 0) {
                                <li class="dropdown-divider"></li>
                                <li><a asp-action="Delete" asp-area="Admin" asp-controller="Models" asp-route-id="@item.Id" class="dropdown-item">Delete</a></li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

