@model List<MaxOrdersClientViewModel>

@{
    ViewBag.Title = "Top clients by orders count";
}

<h2>Top clients by orders count</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model[0].Id)</th>
        <th>Full name</th>
        <th>@Html.DisplayNameFor(model => model[0].Email)</th>
        <th>Orders count</th>
    </tr>
    @foreach (var client in Model) {
        <tr>
            <td>@client.Id</td>
            <td>@client.FullName</td>
            <td>@client.Email</td>
            <td>@client.OrdersCount</td>
        </tr>
    }
</table>