@model System.Collections.Generic.List<CourseProject.WEB.Models.ClientViewModel>

@{
    ViewBag.Title = "Top clients by orders count";
}

<h2>Top clients by orders count</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model[0].Id)</th>
        <th>@Html.DisplayNameFor(model => model[0].UserName)</th>
        <th>@Html.DisplayNameFor(model => model[0].Email)</th>
        <th>Orders count</th>
    </tr>
    @foreach (var client in Model) {
        <tr>
            <td>@client.Id</td>
            <td>@client.UserName</td>
            <td>@client.Email</td>
            <td>@client.PurchaseOrders.Count</td>
        </tr>
    }
</table>