@using CourseProject.Domain
@model ClientViewModel

<h1>Personal info</h1>
<hr>

<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.UserName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.UserName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-8">
        @Html.Raw(string.IsNullOrWhiteSpace(Model.Name) ? "Not set" : Model.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Surname)
    </dt>
    <dd class="col-sm-8">
        @Html.Raw(string.IsNullOrWhiteSpace(Model.Surname) ? "Not set" : Model.Surname)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Patronymic)
    </dt>
    <dd class="col-sm-8">
        @Html.Raw(string.IsNullOrWhiteSpace(Model.Patronymic) ? "Not set" : Model.Patronymic)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd class="col-sm-8">
        @Html.Raw(string.IsNullOrWhiteSpace(Model.PhoneNumber) ? "Not set" : Model.PhoneNumber)
    </dd>
</dl>

<div class="row">
    <div class="col-12">
        <a asp-action="EditPersonalInfo" asp-controller="Account" asp-area="" class="btn btn-primary">Edit personal info</a>
    </div>
</div>

<h2 class="mt-3">Purchase orders</h2>

@if (Model.PurchaseOrders is {Count: > 0 }) {
    <div class="row">
        @foreach (var item in Model.PurchaseOrders) {


            var state = item.State switch {
                PurchaseOrderState.New => "secondary",
                PurchaseOrderState.Processing => "info",
                PurchaseOrderState.Canceled => "danger",
                PurchaseOrderState.Closed => "success",
                _ => ""
            };

            <div class="card col-sm-12 border-@state" style="margin: 20px;">
                <div class="row no-gutters">
                    <div class="col-sm-5">
                        @if (item.EquipmentItemsValues.ElementAt(0).EquipmentItem.Car.Photos.Count > 0) {
                            <img src="@item.EquipmentItemsValues.ElementAt(0).EquipmentItem.Car.Photos.First().Path" class="card-img-top" alt="">
                        }
                        else {
                            <img src="/img/no-image.jpg" alt="" style="height: 300px">
                        }
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body text-@state">
                            <h5 class="card-title">
                                Request № @item.Id State @item.State
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                @item.EquipmentItemsValues.ElementAt(0).EquipmentItem.Car.FullModel
                            </h6>
                            <ul class="list-group">
                                @foreach (var equipmentItemValue in item.EquipmentItemsValues) {
                                    <li class="list-group-item">@equipmentItemValue.EquipmentItem.Category.Name: @equipmentItemValue.Value (&dollar; @equipmentItemValue.Price)</li>
                                }
                            </ul>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-controller="Home" asp-action="Details" class="card-link btn btn-outline-info" asp-route-id="@item.EquipmentItemsValues.ElementAt(0).EquipmentItem.Car.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

}
else {
    <hr>
    <br>
    <div class="alert alert-info" role="alert">
        There are no orders yet
    </div>
}
